services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: siem-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.security.enrollment.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - siem-net

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: siem-kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - siem-net

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.2
    container_name: siem-logstash
    ports:
      - "5001:5000"
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline
      - ./datasets:/data
    depends_on:
      - elasticsearch
    networks:
      - siem-net

volumes:
  esdata:

networks:
  siem-net:
